.container-div {
    display: grid;
    background: red;
    border: 2px solid black;
    color: #fff;
    padding: 5px;
    font-weight: bold;

    grid-template-columns: 80px auto 260px; /* Drei Spalten Layout */
    grid-template-rows: 120px 100; /* Automatische Reihenhöhe */

    grid-template-areas:
    /* S1 */ /* S2 */ /* S3 */
    "header header header" /* Zeile 1 */
    "social content sidebar" /* Zeile 2 */
    "navigation main-content sidebar" /* Zeile 2 */
    "footer footer footer"
  }

  .header {
    grid-area: header;
    background-color: aqua;
  }
  
  .social {
    grid-area: navigation;
    background-color: #f70aeb;
  }
  
  .content {
   grid-area: main-content;
    background-color: rgb(132, 0, 255);
  }
  
  .sidebar {
   grid-area: sidebar;
    background-color: rgb(186, 226, 43);
  }
  
  .footer {
   grid-area: footer;
    background-color: rgb(0, 255, 64);
  }