/** Base Styles for .cards and .card **/
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 1; /* This ensures that all cards take equal space initially */
}

/** Styles for screen width up to 786px **/
@media screen and (max-width: 786px) {
    .cards {
        flex-grow: 1;
        flex-direction: column;

    }

    .headline {

        flex-grow: 2;
        order: -1;
        flex-direction: row;
    }
}

/** Styles for screen width up to 500px **/
@media screen and (max-width: 500px) {
    .cards {
        flex-direction: column;
    }

    .headline    {
        order: -1;
        flex-grow: 1;

    }
    .card {
        flex-grow: 1; /* Other cards take equal space */
    }
}
